@model IEnumerable<Teste1.Models.Pessoa>
@{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_pessoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                        @Html.DisplayFor(model => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contato)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id_pessoa=item.Id_pessoa }) |
                    @Html.ActionLink("Detalhes", "Details", new { id_pessoa=item.Id_pessoa }) |
                    @Html.ActionLink("Ativar/Desativar", "Delete", new {  id_pessoa=item.Id_pessoa }, new { onclick = "return confirm('Deseja desativar este usuario?');"})
                </td>
            </tr>
        }
    </tbody>
</table>

}
